* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: bisque;

}

#codeContainer {
    text-align: center;
    height: 100px;
    margin-top: 10rem;

}

#buttonContainer button {
    width: 100px;
    height: 30px;
    margin-top: 15px;
    background-color: rgb(97, 181, 237);
    border-radius: 10px;

}

.color {
    margin-top: 20px;
}

#codeInput {
    padding-top: 10px;
    margin-top: 15p;
}